body {
  /* overflow: auto; */
}

.hidden {
  display: none !important;
  position: fixed;
  top: 100vh;
}

.lockdown-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockdown-modal > div {
  background-color: #eee;
  padding: 2em;
}

.lockdown-modal > footer {
  padding: 2em;
  color: gray;
  /* white-space: pre; */
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 1em;
  background-color: transparent;
  font-size: 80%;
}

.lockdown-mouse-warning {
  position: fixed;
  left: 1em;
  right: 1em;
  bottom: 1em;
  font-size: large;
  color: #ccc;
  border-radius: 3px;
  background-color: #333;
  border: solid 0.5px gray;
  padding: 0.25em 2em;
  text-align: center;
}