
.qbuilder {
  display: flex;
  flex-direction: column;
  border: rgb(0, 0, 0) solid 0px;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
  color: #e4e6eb;
}

.gen-div {
  background-color: #5a5c5e;
}

.options-div {
  background-color: #5a5c5e;
}

.answers-div{
  display: flex;
  flex-direction: column;
  background-color: #5a5c5e;
}

#question-editing-form{
  background-color: rgb(59, 57, 69);
  color: #f4f7ff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mcq {
  flex-direction: column;
}

.qouter {
  border: rgb(0, 0, 0) solid 0px;
  border-radius: 8px;
  padding: 12px;
  background-color: rgb(190, 188, 187);
}

.readonly {
  border: rgb(0, 0, 0) solid 0px;
  border-radius: 8px;
  padding: 12px;
  background-color: rgb(250, 174, 159);
}

.builder-control-row {
  position: sticky;
  top: -20px;
  z-index: 1;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: inherit;
  width: 100%;
  gap: 5px;
}
.builder-control-row > button {
  font-size: 80%;
}

