:root {
  --background-color: #eee;
  --text-color: #333;
}

* {
  position:relative;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;
  font-family: Geneva, Tahoma, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

::backdrop {
  background-color: #f0f4f8;
}

header, footer {
  background-color: #333;
  color: #ccc;
  padding: 0.5em;
  min-height: 1em;
  display: flex;
  align-items: center;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main {
  flex: 1;
  padding: 20px;
  overflow: auto;
}
footer {
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
}

/* navigation in main (only first child visible) */
main > * {
  display: none;
}
main > *:first-child {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}


button, input[type="submit"] {
  cursor: pointer;
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
button.special {
  background-color: #645;
}
button:hover:not(:disabled), input[type="submit"]:hover:not(:disabled) {
  background-color: #45a049;
}
button.special:hover:not(:disabled) {
  background-color: red;
}
button.small, input[type="submit"].small {
  font-size: 90%;
  padding:0.5em;
  margin:0px;
}
button:disabled {
  opacity: 0.5;
}

input[type="number"] {
  width: 5em;
}

input.small {
  font-size: 50%;
  width: 7em;
  font-family: 'Courier New', Courier, monospace;
  vertical-align: bottom;
}
.bottom-right {
  position: absolute;
  bottom: 2em;
  right: 1.5em;
}

.small:not(button):not(input) {
  font-size: 80%;
}

a, a:visited {
  cursor: pointer;
  color: #359;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}
pre code {
  display: block;
}
pre {
  margin:0.25em;
}

.link {
  cursor: pointer;
}
.link:hover {
  filter: brightness(1.1);
}
.link.special {
  color: #645;
}

:focus-visible:not(input):not(.link):not(a):not(.icon-btn) {
  outline: none;
}

.copy-btn {
  cursor: pointer;
  text-decoration: underline;
}
.copy-btn:before {
  content: "📋";
}
.copy-btn:hover {
  color: #457;
}
.copy-btn:active {
  color: #56b;
}

/* header components */
header>*:first-child {
  flex: 1;
}
#userInfo {
  font-size: small;
}

/* footer components */
footer * {
  flex: 1;
  font-size: small;
}
#infoCenter {
  text-align: center;
}
#infoRight {
  text-align: right;
}

/* specific items in main */
#userProfile img {
  border-radius: 15%;
}

/* #instructorExamsList {
  display: grid;
  grid-template-columns: repeat(8, auto);
}
#instructorExamsList > * {
  display: contents;
}
#instructorExamsList > * > * {
  padding: 0.5em;
}
#instructorExamsList > *:hover > * {
  background-color: rgba(200,200,200,0.5);
} */

.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.submission-table {
  font-size: 80%;
}
.submission-table img {
  max-width: 2em;
  max-height: 2em;
}
.submission-table>*>*:nth-child(1),
.submission-table>*>*:nth-child(3),
.submission-table>*>*:nth-child(7),
.submission-table>*>*:nth-child(8){
  text-align: center;
}


.submissions-table {
  font-size: 90%;
}
.submission-table>*>*:nth-child(1),
.submissions-table>*>*:nth-child(6),
.submissions-table>*>*:nth-child(7),
.submissions-table>*>*:nth-child(8),
.submissions-table>*>*:nth-child(9),
.submissions-table>*>*:nth-child(10),
.submissions-table>*>*:nth-child(11){
  text-align: center;
}
.submissions-table>*>*:nth-child(2){
  text-align: right;
}

.submission-table > * > * {
  max-height: 20em; 
  overflow: auto;
  /* transition: height 2s ease-in; */
}
/* .submission-table.grid > *:not(.header):hover > * {
  max-height: fit-content;
  height: fit-content;
  transition: 2s ease-in;
} */

.icon-btn {
  cursor: default;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 2px;
}
.icon-btn:not(.transparent):hover {
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.fa-check { color: green; }
.fa-xmark, .fa-minus, .fa-unlock { color:red; }
.fa-circle-exclamation { color: purple; }
.fa-trash-can {color: #a44}

.icon-btn.bigger{
  font-size:25px;
  margin-right:5px;
  margin-left:5px;
}
.icon-btn.transparent {
  opacity: 0.1;
}
.icon-btn.grayscale {
  background-color: #333;
  color: #ccc;
  margin: 2px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.header .fa-solid {
  color: #ccc;
  font-size: 80%;
}

.fa-xmark.choicecolor{
  color:#87bbf6;
  font-size:15px; 
}

#all-options span:has(textarea) {
  flex-direction: column;
}




.loader {
  border: 16px solid white;
  border-top: 16px solid #03f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.purple {
  color:#c39;
}

.question-changed:after {
  content: "*";
  color: red;
}

.bigger {
  font-size: 110%;
}
.bigger>* {
  font-size: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.top-right {
  position:absolute;
  top: 0.25em;
  right: 0.25em;
}

.code-output {
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
  background-color: #222;
  color: #ccc;
  padding: 0.25em;
  max-height: 10em;
  min-height: fit-content;
  overflow-y: auto;
}

.grader-student-answer {
  display: flex;
  flex-direction: column;
}
.grader-student-answer > span {
  color:blue;
  white-space:pre;
  font-family:monospace;
  flex-direction: column;
}
.grader-student-answer > button {
  font-size:80%;
  padding: 2px 1em;
}
