
label {
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.hidden {
  display:none !important
}

.clickable {
  cursor: pointer;
}

.sep {
  border-top: dashed 1px gray;
  width: min(80% , 300px);
  height: 1px;
  margin: 1.5em 0 1em 0;
}